<!-- 
  WEB322 Assignment 3/4/5
  Name: Omar Khan
  Student Number: 132197203
  Email: okhan27@myseneca.ca
  Section NCC
  Date: 29/6/2021
  Live demo: https://web322-final-omarkhan.herokuapp.com/
  github repo: https://github.com/lowsound42/web322Assignment3-4-5
  All the work in the project is my own except for stock photos, icons, and bootstrap files included

**The admin user credentials are:**
**email**: admin@hoster.ca
**password**: 123qwe123

**One sample customer user is:**
**email**: test@hoster.ca
**password**: 123qwe123
 -->  
  
  <form onsubmit="submitForm(event);" enctype="multipart/form-data" id="planForm" class="centerBox">
  <div class="row">
    <div class="col-lg-12 form-group">
      <label for="title">Title</label>
      <input name="title" class="form-control" type="text">
    </div>
    </div>
    <div class="row">
      <div class="col-lg-12 form-group">
        <label for="title">Description</label>
        <input name="title" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 form-group">
        <label for="title">Price</label>
        <input name="title" class="form-control" type="number">
      </div>
    </div>
    <ul class="listRemove row">
        <li class="col-lg-12 form-group">
          <label for="title">Items</label><input name="title" class="form-control" type="textarea">
        </li>
    </ul>
    <div class="row"><div class="col-lg-12 form-group">
        <label for="PlanPicture">Picture</label>
        <input name="PlanPicture" class="form-control" type="file">
    </div>
  </div>
  <input type="submit">
 </form>
